* {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 20px;
  font-style: italic;
}

span {
  font-weight: 700;
  font-style: normal;
}

.textField {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
  height: 30px;
}

input {
  height: 20px;
}